<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <h1>Global Stats</h1>

    <label for="pageSelector">Select a graph to display:</label>
    <select id="pageSelector" onchange="changePage()">
        <option value="http://localhost:8006/">Most Rack</option>
        <option value="http://localhost:8005/">Most Incoming</option>
        <option value="http://localhost:8004/">Most Deliver</option>
        <option value="http://localhost:8007/">Most Transaction</option>
        <option value="http://localhost:8002/">Least Outgoing</option>
        <option value="http://localhost:8003/">Most City</option>
        <option value="http://localhost:8008/">All Parts</option>
        <option value="http://localhost:8009/">Parts Supplied</option>
        <option value="http://localhost:8000/">Transaction</option>
    </select>

    <iframe id="embeddedPage" src="" width="100%" height="400px"></iframe>

    <script>
        // Set the default page to Example.com
        var defaultPage = "http://localhost:8000";
        var iframe = document.getElementById("embeddedPage");
        iframe.src = defaultPage;

        function changePage() {
            var dropdown = document.getElementById("pageSelector");
            var selectedPage = dropdown.options[dropdown.selectedIndex].value;
            iframe.src = selectedPage;
        }
    </script>


    <h1>Local Stats</h1>

    <label for="pageSelector2">Select a graph to display:</label>
    <select id="pageSelector2" onchange="changePage2()">
        <option value="http://localhost:8016/">Warehouse Year Profit</option>
        <option value="http://localhost:8012/">Low Stock</option>
        <option value="http://localhost:8001/">Bottom 3</option>
        <option value="http://localhost:8011/">Expensive</option>
        <option value="http://localhost:8014/">Supplier</option>
        <option value="http://localhost:8013/">Least Cost</option>
        <option value="http://localhost:8015/">Receives Most</option>
        <option value="http://localhost:8010/">Parts in Warehouse</option>
    </select>

    <iframe id="embeddedPage2" src="" width="100%" height="400px"></iframe>

    <script>
        // Set the default page to Example.com
        var defaultPage2 = "http://localhost:8016";
        var iframe2 = document.getElementById("embeddedPage2");
        iframe2.src = defaultPage2;

        function changePage2() {
            var dropdown2 = document.getElementById("pageSelector2");
            var selectedPage2 = dropdown2.options[dropdown2.selectedIndex].value;
            iframe2.src = selectedPage2;
        }
    </script>



</body>
</html>


