<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="navbar">
        <img src="../static/RASHQL_Logo.jpg" alt="Logo" class="navbar-img">
        <h1 class="navbar-h1"> Inventory Tracking </h1>

    </div>
    <div class="stats">
<div class="dropdown-global">
    <h1 class="global-text">Global Stats</h1>

    <label for="pageSelector" class="global-text">Select a graph to display:</label>
    <select id="pageSelector" onchange="changePage()">
        <option value="http://localhost:8006/">Most Rack</option>
        <option value="http://localhost:8005/">Most Incoming</option>
        <option value="http://localhost:8004/">Most Deliver</option>
        <option value="http://localhost:8007/">Most Transaction</option>
        <option value="http://localhost:8001/">Least Outgoing</option>
        <option value="http://localhost:8003/">Most City</option>
        <option value="http://localhost:8008/">All Parts</option>
        <option value="http://localhost:8009/">Parts Supplied</option>
        <option value="http://localhost:8000/">Transaction</option>
    </select>
</div>
<div class="global-stats">
    <iframe id="embeddedPage" src=""  class="first-frame" frameborder="0"></iframe>
</div>
    <script>
        var defaultPage = "http://localhost:8006";
        var iframe = document.getElementById("embeddedPage");
        iframe.src = defaultPage;

        function changePage() {
            var dropdown = document.getElementById("pageSelector");
            var selectedPage = dropdown.options[dropdown.selectedIndex].value;
            iframe.src = selectedPage;
        }
    </script>
    </div>

<div class="dropdown-global">
    <h1 class="global-text">Local Stats</h1>

    <label for="pageSelector2" class="global-text">Select a graph to display:</label>
    <select id="pageSelector2" onchange="changePage2()">
        <option value="http://localhost:8016/">Warehouse Year Profit</option>
        <option value="http://localhost:8012/">Low Stock</option>
        <option value="http://localhost:8001/">Bottom 3</option>
        <option value="http://localhost:8011/">Expensive</option>
        <option value="http://localhost:8014/">Supplier</option>
        <option value="http://localhost:8013/">Least Cost</option>
        <option value="http://localhost:8015/">Receives Most</option>
        <option value="http://localhost:8010/">Parts in Warehouse</option>
    </select>
</div>
    <div class="global-stats">
    <iframe id="embeddedPage2" src="" width="100%" height="400px" class="first-frame"></iframe>
    </div>
    <script>
        // Set the default page to Example.com
        var defaultPage2 = "http://localhost:8016";
        var iframe2 = document.getElementById("embeddedPage2");
        iframe2.src = defaultPage2;

        function changePage2() {
            var dropdown2 = document.getElementById("pageSelector2");
            var selectedPage2 = dropdown2.options[dropdown2.selectedIndex].value;
            iframe2.src = selectedPage2;
        }
    </script>



</body>
</html>


